# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# pdf
*.pdf

# build files
/build
/products

# meshes (with exception of the tests directory)
*.bdf
!tests/*.bdf

# compressed files
*.zip
*.tar.gz

# simulation results
*.nmvr

# internally stored environment variables
.env

# third-party
/third-party/eigen3
/third-party/fmt
/third-party/spdlog
